<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karelsalcedo.triviapoo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/question"
        android:label="@string/app_name"
        android:roundIcon="@drawable/question"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controladores.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controladores.MenuActivity" />
        <activity android:name=".Controladores.TriviaActivity" />
        <activity android:name=".Controladores.AcercaActivity" />
        <activity android:name=".Controladores.Trivia2Activity" />
        <activity android:name=".Controladores.Trivia3Activity" />
        <activity android:name=".Controladores.Trivia4Activity" />
        <activity android:name=".Controladores.Trivia5Activity" />
        <activity android:name=".Controladores.Trivia6Activity" />
        <activity android:name=".Controladores.Trivia7Activity" />
        <activity android:name=".Controladores.Trivia8Activity" />
        <activity android:name=".Controladores.Trivia9Activity" />
        <activity android:name=".Controladores.Trivia10Activity" />
        <activity android:name=".Controladores.FinalActivity"></activity>
    </application>

</manifest>